body{
    background-color: rgb(220, 226, 231);
}

#heading{
    text-align: center;
    font-size: 4rem;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 0.5rem;
    justify-content: center;
}

.element{
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 10rem;
}

#result{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#reset{
    display: flex;
    justify-content: center;
}

#reset button{
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
}