#gameboard{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 0.5rem;
}

.element{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 10rem;
}

#result{
    font-size: 2rem;
}
